
name: packages
on:
  pull_request:
    branches:
      - main

jobs:
  packages:
    runs-on: ubuntu-latest
    outputs:
      list: ${{ steps.list.outputs.list }}
    steps:
      - uses: actions/checkout@v3
      - name: List
        id: list
        run: |
          make list | jq -scR 'split(" ") | {include: .}' | awk '{print "list="$0}' >> $GITHUB_OUTPUT

  build-packages:
    needs: packages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: ${{ fromJson(needs.packages.outputs.list) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        run: make init
      - name: Build
        timeout-minutes: 10
        run: make package-${{ matrix.name }}
        env:
          PLATFORM: linux/amd64
