name: Push

on:
  workflow_dispatch:
    inputs:
      package:
        description: "Package"
        required: true
        type: choice
        options:
          - fluentd
          - ipsec
          - keydb
          - mongodb
          - mongosqld
          - mongosync
          - nginx-openresty
          - openvpn
          - pgbouncer
          - postgresql
          - skopeo
          - supercronic
          - tabix
          - tinyproxy
          - ytt

env:
  REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  build-push:
    name: "Build image and push"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.7.0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Github registry login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Build image
        timeout-minutes: 15
        run: make package-${{ inputs.package }}
        env:
          PUSH: "true"
      - name: Sign image
        timeout-minutes: 2
        run: make cosign-${{ inputs.package }}

      - name: Clean old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ inputs.package }}
          package-type: container
          ignore-versions: latest
          min-versions-to-keep: 10
          delete-only-untagged-versions: 'true'
        continue-on-error: true
