name: Renovate

on:
  workflow_dispatch:
  schedule:
      - cron: '0 9 * * 1'

jobs:
  renovate:
    name: "Renovate"
    runs-on: ubuntu-24.04
    permissions:
      checks: read
      contents: write
      issues: write
      pull-requests: write
      security-events: read
      statuses: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          LOG_LEVEL: "debug"
